// -------------------------
// --- You can add your custom CSS here and it will overwrite template styles.
// -------------------------
.black-img {
    width: 58%;
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
}